body {
    font-family: "Montserrat", sans-serif;
}
html,
body {
    scroll-behavior: smooth;
}
:root {
    --font-family: "Montserrat", sans-serif;
    --backgr-type-one: #F6F6F8;
    --backgr-type-two: #FFF;
    --color-button:  #4985FF;
    --color-text-white:  #FFF;
    --color-text-dark: #323232;
    --color-text-grey: #999;
    --color-black:  #000;
    --color-line: #E0E0E0;
    --color-placeholder: #999;
    --btn-hover: rgb(6, 6, 65);
}
.list {
    list-style-type: none;
}
.link {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    padding: 0 0;
    max-width: 1110px;
}
img {
    display: block;
    width: 100%;
}

/*---------------------HEADER---------------------------*/
.background {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(../images/main-background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    min-height: 500px;
    max-width: 1920px;
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .background {
        background-image: (0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%),
            url(../images/backg-button-depositphotos-bgremover-2x.jpg);
    }
}
.header {
border-bottom: 1px solid rgba(161, 161, 161, 0.5);
padding-top: 25px;
padding-bottom: 25px;
text-align: center;
}

.header .nav .link {
    display: none;
}


.menu-btn {
    cursor: pointer;
    width: 60px;
    height: 30px;
    margin: 0 auto;
    overflow: hidden;
    border-style: none;
    background-color: transparent;
    position: relative;
}
.menu-btn span {
    width: 60px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    transition: background-color 270ms linear,
        transform 270px linear;
}
.menu-btn:hover span,
.menu-btn:focus span {
    background-color: rgb(82, 101, 210);
}

.menu-btn span:nth-of-type(2) {
    top: calc(50% - 8px);
}

.menu-btn span:nth-of-type(3) {
    top: calc(50% + 8px);
}
/*----------------------MOBILE MENU--------------------*/
.close-btn-menu {
    border-style: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    right: 24px;
}
.icon-close-menu {
    fill: grey;
    transition: fill 270ms linear;
}
 .icon-close-menu:hover,
 .icon-close-menu:focus {
    fill:#4985FF;
}
.menu-mobile {
    background-color: #E0E0E0;
    width: 100vw;
    height: 100vh;
    padding-top: 24px;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(100%);
    transition: transform  270ms linear;
}
.is-open {
    transform: translate(0);
}
.navigation {
    padding-top: 70px;
}
 .menu-mobile .list {
   display: flex;
   flex-direction: column;
   gap: 15px;
}

/*----------------------SECTION FIRST--------------------*/


.section-first  {
    padding-top: 150px;
    padding-bottom: 200px;
}
.section-first-text {
    color: var(--color-text-white);
text-align: center;
font-family: inherit;
font-size: 16px;
font-weight: 500;
line-height: normal;
margin-bottom: 20px;
}
.section-first-title {
    color: var(--color-text-white);
text-align: center;
font-family: inherit;
font-size: 16px;
font-weight: 400;
line-height: 1.11;
margin-bottom: 50px;
max-width: 300px;
margin-left: auto;
margin-right: auto;
}
 .button {
    color: var(--color-text-white);
    background-color: var(--color-button);
text-align: center;
font-family: inherit;
font-size: 16px;
font-weight: 500;
line-height: normal;
cursor: pointer;
display: block;
margin: 0 auto;
border-radius: 30px;
box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
width: 200px;
height: 45px;
flex-shrink: 0;
border: none;
transition: background-color 270ms linear, color 270ms linear;

}
.button:hover,
.button:focus {
   background-color: rgb(6, 6, 65);
   color: #4985FF;
}
.btn-open-modal {
    margin-top: 30px;
    width: 300px;
    height: 50px;
    font-size: 18px;
}

/*----------------------SERVICES-----------------------*/

.section-services {
    background-color: var(--backgr-type-two);
    padding-top: 110px;
    padding-bottom: 105px;
}

.section-services-title {
    color: var(--color-text-dark);
text-align: center;
font-family: inherit;
font-size: 36px;
font-weight: 700;
line-height: 1.5;
margin-bottom: 32px;
margin-left: auto;
margin-right: auto;
}
 .section-services-text {
    color: var(--color-text-grey);
text-align: center;
font-family: inherit;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.6;
margin-bottom: 70px;
margin-left: auto;
margin-right: auto;
max-width: 730px;
}
.section-services-title-item {
    color: var(--color-black);
font-family: inherit;
font-size: 18px;
font-weight: 600;
line-height: normal;
align-self: center;
}
.list .section-services-text {
    color: var(--color-text-grey);
font-family: inherit;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.6;

}
.section-services .list {
    display: flex;
    gap: 27px;
    margin-bottom: 55px;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}
.section-services .list .item {
    display: flex;
    flex-direction: column;
    flex-basis: calc((100% - 54px) / 3);

    
}

/*------------------------ABOUT US---------------------------*/

.section-about-us {
    background-color: var(--backgr-type-one);
    padding-top: 100px;
    padding-bottom: 70px;
}


.section-about-us-title {
    color: var(--color-text-dark);
font-family: inherit;
font-size: 36px;
font-weight: 700;
line-height: 1.5;
margin-bottom: 60px;
}
.section-about-us-text {
    color: var(--color-text-grey);
font-family: inherit;
font-size: 16px;
font-weight: 400;
line-height: 1.6;
margin-bottom: 42px;
}
.section-about-us .link {
    color: var(--color-button);
font-family: inherit;
font-style: normal;
font-size: 16px;
font-weight: 500;
line-height: 1.6;
text-decoration-line: underline;
margin-bottom: 51px;
}
.section-about-title-item {
    color: var(--color-black);
font-family: inherit;
font-size: 36px;
font-weight: 400;
line-height: 1.5;
margin-bottom: 17px;
}
.section-about-us .item {
    display: flex;
    border-bottom: 1px solid var(--color-line);
}
.section-about-us .item-left {
    display: flex;
    flex-direction: column;
    width: 490px;
    margin-right: 121px;
}
.section-about-us .item-right {
   margin-bottom: 0;
   display: none;
   border-radius: 30px;
   max-width: 100%;
}
.section-about-us .item-bottom .list {
    display: flex;
   gap: 100px;
   padding-left: 0;
   flex-wrap: wrap;
}
.item-bottom .list .item-icon {
    flex-basis: calc((100% - 400) / 5);
}


/*---------------------------ALL SERVICES-------------------------*/

.section-all-services {
   background-image: linear-gradient(#5F12D0 50%, white 50%); 
   overflow: hidden;
     
}
.section-all-services-title {
    font-family: var(--font-family);
    color: var(--color-text-white);
font-size: 25px;
font-weight: 300;
line-height: 1.11;
max-width: 300px;
margin-left: auto;
margin-right: auto;
text-align: center;
margin-bottom: 40px;
}

.section-all-services .list  {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    padding-left: 0;
}
.section-all-services .list .services-offer {
    flex-basis: calc((100% - 60) / 3);
}
.section-all-services-text-title{
    color: var(--color-black);
font-family: var(--font-family);
font-size: 18px;
font-weight: 600;
line-height: normal;
max-width: 540px;
margin-top: 28px;
margin-bottom: 28px;
}
.section-all-services-text {
    color: var(--color-text-grey);
font-family: var(--font-family);
font-size: 16px;
font-weight: 400;
line-height: 1.6;
margin-bottom: 44px;
}
.number-title {
    color: var(--color-button);
}
.section-all-services .link {
    display: block;
    text-decoration: underline;
    color: var(--color-button);
font-family: var(--font-family);
font-size: 16px;
font-weight: 500;
line-height: normal;
margin-bottom: 80px;
}
.section-all-services .container {
    padding-top: 50px;
    margin-bottom: 70px;
    border-bottom: 1px solid var(--color-line);
}

/*-----------------------------SECTION-ALL-PROJECTS----------------*/

.section-all-projects {
    background: var(--backgr-type-one);
    padding-top: 100px;
    padding-bottom: 143px;
}
.section-all-projects-title {
    color: var(--color-black);
text-align: center;
font-family: var(--font-family);
font-size: 36px;
font-weight: 700;
line-height: 1.5;
margin-bottom: 50px;
}
.section-all-projects-text {
    color: var(--color-text-grey);
text-align: center;
font-family: var(--font-family);
font-size: 16px;
font-weight: 400;
line-height: 1.6;
margin-bottom: 70px;
max-width: 730px;
margin-left: auto;
margin-right: auto;
}
.section-all-projects .list {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}
.img-all-services {
    flex-basis: calc((100% - 90px) / 4);
}

/*------------------------------VIDEO-------------------------*/

.video {
    background-image: url(../images/img-backg-services.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 570px;
    margin-bottom: 165px;
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .video {
        background-image: url(../images/img-backg-services-2x.jpg);
    }
}
    

.video .container {
    padding-top: 70px;
    padding-bottom: 420px;
    position: relative;
}


.video-title {
    color: var(--color-text-white);
text-align: center;
font-family: var(--font-family);
font-size: 25px;
font-weight: 300;
line-height: 1.11;
margin-bottom: 30px;
}
.video-text {
    color: var(--color-text-white);
text-align: center;
font-family: var(--font-family);
font-size: 16px;
font-weight: 400;
line-height: 1.6;
}
.video-text-button {
color: #FFF;
font-family: inherit;
font-size: 16px;
font-weight: 500;
line-height: 1.6;
margin-left: 21px;
}

.play-button-group {
   display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 300px;
    height: 100px;
    border-radius: 200px;
    border: 1px solid #FFF;
    justify-content: center;
    align-items: center;
    transition: transform 270ms linear;
}



/*-------------------------SUBSCRIBE--------------------*/

.subscribe {
    background-color: var(--backgr-type-two);
    padding-top: 85px;
    padding-bottom: 85px;
    border-top: 1px solid #E0E0E0;
    margin-top: 85px;
}
.subscribe-title {
    color: var(--color-black);
text-align: center;
font-family: var(--font-family);
font-size: 18px;
font-weight: 600;
margin-bottom: 20px;
}
.subscribe-text-one {
    color: var(--color-text-grey);
text-align: center;
font-family: var(--font-family);
font-size: 16px;
font-weight: 400;
line-height: 1.6;
margin-bottom: 30px;
}
.subscribe-text-two {
    color: var(--color-text-grey);
text-align: center;
font-family: var(--font-family);
font-size: 13px;
font-weight: 400;
line-height: 1.6;
margin-top: 35px;
}

.input::placeholder {
    color: var(--color-placeholder);
        font-family: inherit;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.6;
}
.input {
    padding-left: 33px;
    color: var(--color-black);
    font-family: inherit;
    outline: none;
    width: 299px;
        height: 43px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.6;
        border-radius: 30px 0px 0px 30px;
        border: 1px solid var(--f-2-f-2-f-2, #F2F2F2);
        background: #FFF;
        box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
}
.input-btn {
    border-color: transparent;
    width: 190px;
        height: 45px;
        color: #FFF;
        text-align: center;
        font-family: inherit;
        font-size: 16px;
        font-weight: 500;
        background-color: var(--color-button);
        border-radius: 0px 30px 30px 0px;
        box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
        transition: background-color 270ms linear;
}
.input-btn:hover,
.input-btn:focus {
    background-color: var(--btn-hover);
}
.label-input {
    display: flex;
    gap: 0px;
    justify-content: center;
    align-items: center;
}

/*--------------------------------FOOTER----------------*/

.footer {
    background: var(--backgr-type-one);
    padding-top: 70px;
    padding-bottom: 30px;
}
.footer .link {
    color: var(--color-text-grey);
font-family: var(--font-family);
font-size: 14px;
font-weight: 400;
line-height: 1.6;
}
.footer p {
    color: var(--color-text-grey);
text-align: center;
font-family: var(--font-family);
font-size: 13px;
font-weight: 400;
line-height: 1.6;
margin: 30px auto;
}
.footer .container {
    border-bottom: 1px solid var(--color-line);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.navigation-footer {
    margin-bottom: 70px;
    display: flex;
    gap: 30px;
    flex-direction: column;
}
.navigation-footer .list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 0;
}


.icon-contact, .icon-arrow {
    fill: #999999;
}

/*---------------------Button SCROLL-------------------------*/
.row {
    display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: rgb(89, 118, 176);
        fill: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 50px;
    }
    
 .rov:hover {
        background-color: #555;
 }
